h1 {
    font-size: 50px; 
}

h2 {
   font-size: 42px;     
}

.item {
    display: inline-block;
    padding-right: 64px;
}

.key {
    font-weight: bold;
}

.value {
    padding-left: 15px;
}

span {
    font-size: 28px;
}

.item2 span {
    display: block;
    padding: 0;
}

.item2 {
    margin-bottom: 15px;
}

